/*sub_ header */
#sub-top-area {width:100%;height:420px;background-size:cover;position:relative; display:none;}
#sub-top-area h1 {width:100%;display:none;}
#sub-top-area h1 a.logo {width:50px;height:35px;position:absolute;top:5px;left:10px;}
#sub-top-area h1 a.menu {width:23px;height:28px;position:absolute;top:15px;right:10px;z-index: 1;background:url("../images/common/btn_gnb.png") center no-repeat;background-size:100% 100%;}
#sub-top-area h1 a.menu.on {background:url("../images/common/btn_gnb_sub_on.png") center no-repeat;background-size:100% 100%;}
#sub-top-area h1 a img {width:100%;}
#sub-top-area nav {position:relative;width:100%;margin:auto;height: 100%;display:none;}
#sub-top-area nav ul {width:180px;background:rgba(2,187,199,1);height: 1000px;position:absolute;right:0px;padding:60px 10px;box-sizing:border-box;}
#sub-top-area nav ul li {height:40px;}
#sub-top-area nav ul li a {display: block;color:#00fff0;font-size:12px;letter-spacing: 2px;}
#sub-top-area nav ul li a:hover {color:#fff;}
#sub-top-area nav ul li a span {width:17px;height:18px;float:right;background:url("../images/common/ico_gnb.png") center no-repeat;background-size:auto;}
#sub-top-area nav ul li a:hover span {background:url("../images/common/ico_gnb_on.png") center no-repeat;background-size:auto;}
.v_01{background:url("../images/sub/img_sub_top01.png") center no-repeat;}
.v_02{background:url("../images/sub/img_sub_top02.png") center no-repeat;}
.v_03{background:url("../images/sub/img_sub_top03.png") center no-repeat;}



/*tablet1*/
@media all and (min-width:1024px) and (max-width:1279px){
    /* header */
    #sub-top-area {height:357px;}

    /* container */
    #container.sub {padding-bottom:85px;}

    /* apply */
    .sub-title-area {margin:40px 0 20px 0;}
    .sub-title-area h2.tit {font-size:25px;padding-top:17px;}
    .sub-title-area span{font-size:11px;}

}

/*tablet2*/
@media all and (min-width:768px) and (max-width:1023px){
    /* header */
    #sub-top-area {height:294px;}
    /* container */
    #container.sub {padding-bottom:70px;}

    /* apply */
    .sub-title-area {margin:35px 15px 0;}
    .sub-title-area h2.tit {font-size:21px;padding-top:14px;}
    .sub-title-area span{font-size:10px;}

}

/*mobile*/
@media all and (max-width:767px){
    /* header */
    header#sub #tab-area {display:none;}
    #sub-top-area {height:210px;}
    #sub-top-area h1 {display:block;}
    #sub-top-area nav ul{width: 50%;}
    /* container */
    #container.sub {padding-bottom:70px;}
    /* apply */
    .sub-title-area {margin:0;}
    .sub-title-area h2.tit {font-size:21px;padding-top:14px;}
    .sub-title-area span {display:none;}
}

/*phone*/
@media all and (max-width:480px){
    .sub-title-area h2.tit {font-size:24px; padding-top:10px;}

}